{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block Title %}Dashboard{% endblock Title %}
{% block TituloPagina %}<h1>Dashboard</h1>{% endblock TituloPagina %}

{% block head %}
<script>

  window.onload = function(event){
    RenderizarGraficoSaidas('{% url "dados_dashboard_saidas" %}')
    RenderizarGraficoEntradas('{% url "dados_dashboard_entradas" %}')
    RenderizarGraficoFluxoCaixa('{% url "dados_dashboard_fluxo_caixa" %}')
    RenderizarGraficoEntradasCategoria('{% url "dados_dashboard_entradas_categoria" %}')
    RenderizarGraficoSaidasCategoria('{% url "dados_dashboard_saidas_categoria" %}')
  }


    
</script>

{% endblock %}


{% block content %}

<h2>Dashboard</h2>


<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <canvas id="GraficoFluxoCaixa"></canvas>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12" >
    <canvas id="GraficoSaidas"></canvas>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12" >
    <canvas id="GraficoEntradas"></canvas>
  </div>
</div>
<div class="row" style="text-align: center;">
  
  <div class="col-lg-6 col-md-6 col-sm-12" >
    <label><b>Saídas por Categoria</b></label>
    <canvas id="GraficoSaidasCategoria"></canvas>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12" >
    <label><b>Entradas por Categoria</b></label>
    <canvas id="GraficoEntradasCategoria"></canvas>
  </div>
</div>
{% endblock content %}